
.menu-main {
    display: flex;
    flex-direction: column;
}



.header {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 50px;
}

.bg-color {
    background: radial-gradient(40% 50% at 50% 50%, black, midnightblue);
    height: 100vh;
}

.bg-mg {
    margin-top: -42px;
}

.logo-main {
    width: 300px;
    height: 300px;
}

.btn-main {
    background-color: transparent;
    border: 1px solid white;
}

.btn-main:hover {
    background-color: midnightblue;
}

.game-container {
    padding-top:20%;
}