

.QuestionMain {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

.QM {
    margin-top: 50%;
}

.QuestionMainFlex {
    display: flex;
}

.QuestionMainBlock {
    word-wrap: break-word;
    text-align: center;
}

.QuestionItem {
    min-width: 400px;
    background-color: gainsboro;
    padding: 10px;
    cursor: pointer;
}
.QuestionItem:hover {
    background-color: gray;
}