.QuestionItem {
    min-width: 400px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 30%;
    color: #fff;
    border: 1px solid #fff;
}

.QuestionItem:hover {
    background-color: gray;
}

.QuestionItemPing {
    background-color: orange;
}

.QuestionItemPong {
    background-color: midnightblue;
}

.QuestionItemCorrect {
    background-color: lawngreen;
}

.QuestionItemWrong {
    background-color: red;
}

.Number {
    color: darkgoldenrod;
}